{
    admin 0.0.0.0:2019
}

:80 {
    # Route everything starting with /api to the backend
    handle_path /api* {
        reverse_proxy backend:3001
    }

    # Route everything else to the frontend
    handle {
        reverse_proxy frontend:5173
    }
}
